entrypoint = "frontend/index.html"

run = "cd frontend && npm run start"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "cd frontend && npm ci && npm run build"]
run = ["sh", "-c", "cd frontend && npm run start"]
